.title {
  max-width: 1300px;
  margin: 0 auto;
}
.heading-title {
  font-size: 22px;
  line-height: 2.2rem;
  letter-spacing: 0.8px;
}
.paragraph-title {
  color: #9f9f9f;
}
@media (max-width: 576px) {
  .heading-title {
    margin: 0 auto;
    font-size: 20px;
  }
  .title {
    width: 85%;
  }
}
