*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 325px;
    height: 230px;
    background: #47752480;
}
.salom{
    display:grid;
   grid-template-columns: repeat(3,1fr);
   
}
@media   (max-width:500px){
 .joylashuv{
    display: block;
    
 }
 .chiq{
    display: none;
 }
 .qar{
    width: 40px;
    height: 40px;
    font-size: 10px;
    display: none;
 }
 .qar1{
    font-size: 10px;
    /* width: 140px; */
 }
 .rasm{
display: block;
margin-top: 300px;
 }
 .rang{
   font-size: 10px;
 }
.smal{
   display: block;
}
}
.nimadir{
    margin-left: 300px;
}
.ertak{
   width: 100%;
   height: 100px;
   background-color: black;
   margin-top: 30px;
}
.rang{
   color: white;
}
.kards{
   width: 100%;
   height: 300px;
   background-color: #f1f1f1;
   /* margin-top: 20px; */
}
.baground{
   background: url("./img/Rectangle\ 35.png");
   background-size: cover;
   width: 100%;
   height: 280px;
   background-repeat: no-repeat;
   opacity: 1;
}
.smal{
   margin-top: -220px;
   margin-left: 730px;
}
.btn{
   width: 187px;
}