.home {
    max-width: 1400px;
    background-image: url("../images/car-home.jpg");
    background-size: cover;
    height: 87vh;
    margin: 6.2rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.heading {
    font-size: 70px;
    font-family: "Unbounded", sans-serif;
}
.linear {
    border: 1.5px solid white;
}
.btn-number {
    height: 2rem;
    width: 2rem;
}