.Diznel{
    margin-left: 9em;
    color: black;
    margin-top: 5em;
    font-family: "Unbounded", sans-serif;
    
}

.Страховка{
    margin-left: 9em;
    margin-top: 5em;
}
.St{
    margin-left: 9em;
    margin-top: -5.5em;
}
.Po{
    margin-top: -.9em;
    color:rgb(162, 153, 153) ;
}
.vse{
    color:rgb(162, 153, 153) ;
}


.Страховка1{
    margin-left: 45em;
    margin-top: -7.5em;

}

.Страховка2{
    margin-left: 9em;
    margin-top: 2em;

}

.Страховка3{
    margin-left: 45em;
    margin-top: -7.8em;
}

.Страховка4{
    margin-left: 9em;
    margin-top: 2em;
}

.Страховка5{
    margin-left: 45em;
    margin-top: -7.4em;

}
.Boshi{
    margin-top: 1em;
}